# rm this comment, edit data below and rename to .env
BOT_TOKEN=1234567890:get_and_replace_from_botfather
ADMINS=123456789,987654321
USE_REDIS=True
REDIS_PASSWORD=password
REDIS_HOST=hostname
REDIS_PORT=6379
